/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap');

/* CSS Custom Properties (Variables) for Colors */
:root {
    /* Font families */
    --font-family-heading: 'Roboto';
    --font-family-body: 'Montserrat';
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
    line-height: 1.5;
    min-height: 100%;
}
